form > table {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  font-size: 1.3rem;
}
form > table td {
  padding: 0.5rem;
}
form > table td input {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
#date,
#time {
  width: 37%;
  padding: 0.5rem;
  text-align: center;
}
#time {
  width: 17%;
}

#submit-buttom {
  background-color: tomato;
  width: 6rem;
  height: 2rem;
  border: none;
  margin: 1rem;
  margin-left: 31%;

  color: white;
}
